* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-family: "Rubik", sans-serif;
  font-size: 62.5%;
}

body {
  font-family: 'Poppins', sans-serif;
  background-image: linear-gradient(rgba(39, 33, 33, 0.692), rgba(0, 0, 0, 0.692)), url(./img/andre-hunter-p-I9wV811qk-unsplash.jpg);
  background-size: cover;
}

.all-wrapped {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header {
  padding: 10rem;
  height: 100vh;
}

.hero-wrapper {
  margin-left: 5rem;
  display: flex;
  justify-content: space-around;
}

.header-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.header-container-inner {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 4.2rem;
  margin-bottom: 3rem;
  text-align: center;
  color: #f1ba89;
}

h3 {
  font-size: 1.4rem;
  text-align: center;
  color: #f1ba89;
  font-weight: 700;
}

.joke-text {
  font-size: 2rem;
  margin-bottom: 4.2rem;
  color: white;
  text-align: center;
}

.icon-wrapper {
  margin-top: 1.5rem;
  display: flex;
  gap: 1.5rem;
}

.icon-face {
  width: 2rem;
  height: 2rem;
  filter: grayscale(0.3);
}

.icon-face:hover {
  cursor: pointer;
}

.button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  font-size: 1.2rem;
  font-weight: 600;
  background-color: #1f0b06;
  color: rgb(241, 221, 221);
  text-decoration: none;
  display: inline-block;
  padding: 1rem 1.2rem;
  border-radius: 1rem;
  border: transparent;
  margin-top: 1.5rem;
}

button:hover {
  font-size: 1.2rem;
  font-weight: 600;
  background-color: #eea96c;
  color: #1f0b06;
  text-decoration: none;
  display: inline-block;
  padding: 1rem 1.2rem;
  border-radius: 1rem;
  border: transparent;
}

.aside-wrapper {
  width: 25rem;
  height: 20rem;
  color: #410a0a;
  background-image: linear-gradient(rgba(224, 157, 70, 0.692), rgba(218, 32, 32, 0.692)), url(./img/rm261-nunny-12b.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  padding: 1.4rem;
  border-radius: 2rem;
  transition: all 2.5s;
  flex-wrap: nowrap;
}

.apiTemperature {
  font-size: 4.4rem;
  text-align: center;

}

.currentDate {
  font-size: 1.2rem;
  font-weight: 600;
}

footer {
  color: white;
  text-align: center;
  padding: 1rem;
  font-size: 1.2rem;
}

.hidden {
  opacity: 0;
  cursor: default;
}