* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-family: "Rubik", sans-serif;
  font-size: 62.5%;
}

body {
  font-family: 'Poppins', sans-serif;
  background-image: linear-gradient(rgba(39, 33, 33, 0.692), rgba(0, 0, 0, 0.692)), url(./img/andre-hunter-p-I9wV811qk-unsplash.jpg);
  background-size: cover;
  background-repeat:no-repeat;
  
}

.all-wrapped {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header {
  padding: 10rem;
  height: 100vh;
}

.header-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
 
}

.header-container-inner {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 4.2rem;
  margin-bottom: 3rem;
  text-align: center;
  color: #f1ba89;
}

h3 {
  font-size: 1.4rem;
  text-align: center;
  color: rgb(221, 212, 193);
  font-weight: 800;
}

.joke-text {
  font-size: 1.8rem;
  margin-bottom: 4.2rem;
  color:rgb(221, 212, 193);
  text-align: center;
  width: 50%;
  font-weight: 600;
}
/****************ICON STYLE******************/
.icon-wrapper {
  margin-top: 1.5rem;
  display: flex;
  gap: 1.5rem;
}

.icon-face {
  width: 2rem;
  height: 2rem;
  filter: grayscale(0.3);
}

.icon-face:hover {
  cursor: pointer;
}
.hidden {
  opacity: 0;
  cursor: default;
  width: 0;
  height: 0;
}


/****************BUTTON STYLE******************/
.button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4rem;
  font-size: 1.2rem;
}
button {
  text-decoration: none;
  position: absolute;
  border: none;
  font-size: 14px;
  font-family: inherit;
  color: #fff;
  width: 9em;
  height: 3em;
  line-height: 2em;
  text-align: center;
  background: linear-gradient(90deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
  background-size: 300%;
  border-radius: 30px;
  z-index: 1;
  
  
 }
 
 button:hover {
  animation: ani 8s linear infinite;
  border: none;
 }
 
 @keyframes ani {
  0% {
   background-position: 0%;
  }
 
  100% {
   background-position: 400%;
  }
 }
 
 button:before {
  content: '';
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
  background: linear-gradient(90deg,rgba(224, 157, 70, 0.692), rgba(218, 32, 32, 0.692));
  background-size: 400%;
  border-radius: 35px;
  transition: 1s;
 }
 
 button:hover::before {
  filter: blur(20px);
 }
 
 button:active {
  background: linear-gradient(32deg,rgba(224, 157, 70, 0.692), rgba(218, 32, 32, 0.692));
 }

 /****************ASIDE STYLE******************/

 .weather-wrapper {
  margin-left: 5rem;
  display: flex;
  justify-content: flex-end;
  
}

.aside-wrapper {
  width: 20rem;
  height: 15rem;
  color: #410a0a;
  background-image: linear-gradient(rgba(175, 22, 22, 0.692), rgba(209, 113, 24, 0.692),rgba(220, 150, 58, 0.692)), url(./img/rm261-nunny-12b.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 1rem;
  border-radius: 2rem;
  transition: all 2.5s;
  background-repeat:no-repeat;
  
}

.apiTemperature {
  font-size: 4.4rem;
  text-align: center;

}

.currentDate {
  font-size: 1.2rem;
  font-weight: 600;
}

footer {
  color: rgb(198, 178, 178);
  text-align: center;
  padding: 1rem;
  font-size: 1.2rem;
  background-color: #43110a;
  }
